.header {
  background: $dark-blue;
}

.header__content {
  align-items: center;
  display: flex;
  flex: $m-size;
  padding: $s-size $m-size;
}

.header__title {
  color: white;
  text-decoration: none;
  
  p {
    //letter-spacing: 1px;
    font-family: Helvetica;
    margin: 0;
  }
}
